{% extends 'base.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-dark justify-content-between">
        <a href="/" class="navbar-brand" style="font-size: 20pt; color:#4285f4;">Renewable Map</a>
    </nav>

    {% block content %}
    {% endblock %}
{% endblock %}
