{% extends 'base.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" href="/static/css/docs.css"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="markdown" class="col"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="/static/js/showdown.min.js"></script>
    <script type="text/javascript" src="/static/js/docs.js"></script>
{% endblock %}