{% extends 'base.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div style="height: 100vh; display: block;">
        <div id="index-main" class="flex-center flex-column">
            <a href="/solar" style="padding:5px;">
                <div class="card" style="width:250px;text-align:center;">
                    <h1>Solar</h1>
                </div>
            </a>
            <a href="/wind" style="padding:5px;">
                <div class="card" style="width:250px;text-align:center;">
                    <h1>Wind</h1>
                </div>
            </a>
        </div>
    </div>
{% endblock %}