{% extends 'base.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div style="height: 100vh; display: block;">
        <div id="index-main" class="flex-center flex-column">
            <a href="/solar">
                <div class="card">
                    <h1>Solar</h1>
                </div>
            </a>
            <a href="/wind">
                <div class="card">
                    <h1>Wind</h1>
                </div>
            </a>
        </div>
    </div>
{% endblock %}