{% extends 'base.twig' %}

{% block content %}


        <style>
            /* Always set the map height explicitly to define the size of the div
             * element that contains the map. */
            #map {
                height: 100%;
            }
            /* Optional: Makes the sample page fill the window. */
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }

            .container-fluid {
                margin-top: 20px;
            }
        </style>

    <div class="container-fluid">
        <div class="row">
            <div class="col" style="height: 500px">
                <div id="map"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <select class="mdb-select colorful-select dropdown-primary">
                    <option value="0">January</option>
                    <option value="1">February</option>
                    <option value="2">March</option>
                    <option value="3">April</option>
                    <option value="4">May</option>
                    <option value="5">June</option>
                    <option value="6">July</option>
                    <option value="7">August</option>
                    <option value="8">September</option>
                    <option value="9">October</option>
                    <option value="10">November</option>
                    <option value="11">December</option>
                </select>
                <label>Select Month</label>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="/static/js/map.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvAuBdVZjDGb0-C8kxFVbeSM50bkgtni8&libraries=visualization&callback=initMap">
    </script>
{% endblock %}