{% extends 'base.twig' %}

{% block content %}
        <script type="text/javascript" src="/static/js/Chart.js"></script>

        <style>
            /* Always set the map height explicitly to define the size of the div
             * element that contains the map. */
            #map {
                height: 100%;
            }
            /* Optional: Makes the sample page fill the window. */
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }

            .container-fluid {
                margin-top: 20px;
            }
        </style>

    <div class="container-fluid">
        <div class="row" style="padding-bottom:25px;">
            <div class="col">
                <h1>
                    Instructions:
                </h1>
                <h4>Select a point on the map to display a graphical representation of the solar intensity for that region.</h3>
                <h4>To display solar intensity data for a region, press and hold shift and select a second point on the map.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <select id="month" onchange="monthChange(this)" class="mdb-select colorful-select dropdown-primary">
                    <option value="0">January</option>
                    <option value="1">February</option>
                    <option value="2">March</option>
                    <option value="3">April</option>
                    <option value="4">May</option>
                    <option value="5">June</option>
                    <option value="6">July</option>
                    <option value="7">August</option>
                    <option value="8">September</option>
                    <option value="9">October</option>
                    <option value="10">November</option>
                    <option value="11">December</option>
                </select>
                <label>Select Month</label>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col" style="height: 500px">
                <div id="map"></div>
            </div>
        </div>
        <div class="row" style="width: 100%; height=500px;">
            <canvas id="wind-graph" height="500" style="width: 100%; height:500px; display:none;"></canvas>
        </div>
    </div>
    <script>
        /* Render Graph Canvas */
        var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var config = {
            type: 'line',
            data: {
                labels: MONTHS,
                datasets: [{
                    label: "Monthly Average",
                    data: [
                        1,2,3,4,5,6,7,8,9,10,11,12
                    ],
                    fill: false,
                }, {
                    label: "Yearly Average",
                    fill: false,
                    data: [
                        6,6,6,6,6,6,6,6,6,6,6,6
                    ],
                }]
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'Wind Intensity Data'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Month'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Wind Intensity'
                        }
                    }]
                }
            }
        };

        //on click action (single coordinate)
        //perform ajax get
        //render the graph from response
        //display graph

        //on select region action
        //perform ajax get
        //render the graph from response
        //display graph

        window.onload = function() {
            var ctx = document.getElementById("wind-graph").getContext("2d");
            window.myLine = new Chart(ctx, config);
        };
    </script>

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="/static/js/map.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvAuBdVZjDGb0-C8kxFVbeSM50bkgtni8&libraries=visualization&callback=initMap">
    </script>
{% endblock %}